.header__opening {
    background: #f2f2f2;
    padding: 20px 0;
}

.header__opening__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.header__opening__text {
    color: var(--def-clr-blue);
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36px;
}

.header__opening__list {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__opening__list-item-link img {
    opacity: 0.8;
    transition: .2s;
}

.header__opening__list-item-link:hover img {
    opacity: 1;
}

.header__logo-block {
    position: relative;
    padding: 30px 0 60px;
}

.header__logo-block__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo-block__contacts {
    display: flex;
    align-items: center;
    gap: 65px;
}

.header__logo-block__contacts-contact-block {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header__logo-block__contacts-contact-block-poster {
    border: 2px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    width: 68px;
    height: 68px;
    background: var(--clr-orange);
    transition: .2s;
}

.header__logo-block__contacts-contact-block:hover .header__logo-block__contacts-contact-block-poster {
    border: 2px solid #222222;
    background: #fff;
    scale: 1.05;
}

.header__logo-block__contacts-contact-block-desc {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.header__logo-block__contacts-contact-block-desc-title {
    color: var(--def-clr-blue);
    font-family: "Mulish-Regular";
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.36px;
}

.header__logo-block__contacts-contact-block-desc-text {
    color: var(--clr-txt);
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36px;
}

.header__nav {
    position: absolute;
    top: 82%;
    width: 100%;
    height: max-content;
}

.header__nav-wrap {
    padding: 10px 10px 10px 45px;
    height: max-content;
    background: var(--clr-orange);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.header__nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px 50px;
    flex-wrap: wrap;
}

.header__nav-list-item-link {
    color: #222;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.36px;
    transition: .2s;
}

.header__nav-list-item-link:hover {
    color: #fff;
}

.header__nav-link {
    max-width: 298px;
    width: 100%;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--txt-mini-bg);
    background: var(--def-clr-blue);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.36px;
    transition: .2s;
}
.header__nav-link:hover {
    color: #222;
    background: #fff;
}
@media screen and (max-width: 1020px) {
    .header__nav-wrap {
        padding: 10px;
        flex-direction: column;
    }
    .header__nav-link {
        max-width: 240px;
        height: 44px;
    }
}
@media screen and (max-width: 886px) {
    .header__logo-block__wrap {
        flex-direction: column;
        gap: 15px;
    }
    .header__nav-list {
        gap: 10px 15px;
    }
}
@media screen and (max-width: 620px) {
    .header__logo-block__contacts {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}