@import url("./fonts.css");
@import url("./base.css");
@import url("./root.css");

@import url("./header.css");
@import url("./banner.css");
@import url("./welcome.css");
@import url("./offer.css");
@import url("./area.css");
@import url("./reasons.css");
@import url("./recent.css");
@import url("./clients.css");
@import url("./price-plan.css");
@import url("./updated.css");
@import url("./subscribe.css");
@import url("./footer.css");
