.main__subscribe {
    background: var(--clr-orange);
    height: 328px;
    padding: 52px 0;
}

.main__subscribe__wrap {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.main__subscribe__desc {
    max-width: 410px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.main__subscribe__desc-title {
    color: var(--def-clr-blue);
    font-family: "Mulish-Regular", sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.36px;
}

.main__subscribe__desc-text {
    color: var(--def-clr-blue);
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36px;
}

.main__subscribe__form {
    max-width: 572px;
    width: 100%;
    height: 122px;
    display: flex;
    align-items: flex-start;
}
.main__subscribe__form-email {
    width: 100%;
    display: flex;
    align-items: center;
}

.main__subscribe__form-email-input {
    font-family: "Inter-Regular", sans-serif;
    height: 70px;
    max-width: 390px;
    width: 100%;
    padding: 20px 25px;
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36px;
    background: none;
    outline: none;
    border: 2px solid #fff;
    border-right: none;
}

.main__subscribe__form-email-input::placeholder {
    color: #fff;
}

.main__subscribe__form-email-btn {
    cursor: pointer;
    max-width: 182px;
    width: 100%;
    height: 66px;
    background: #fff;
    border: none;
    color: var(--def-clr-blue);
    font-family: "Inter-Regular", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36px;
    border: 2px solid transparent;
    border-left: none;
    transition: .3s;
}
.main__subscribe__form-email-input:focus + .main__subscribe__form-email-btn, .main__subscribe__form-email-btn:hover {
    background: var(--def-clr-blue);
    transform: translateX(-20px) translateZ(-20px);
    box-shadow: 4px 10px 15px #00000034;
    color: #fff;
}
@media screen and (max-width: 1050px) {
    .main__subscribe__wrap {
        justify-content: center;
    }
}
@media screen and (max-width: 520px) {
    .main__subscribe {
        height: max-content;
    }
    .main__subscribe__form {
        max-width: 390px;
        height: max-content;
    }
    .main__subscribe__form-email {
        flex-direction: column;
        gap: 10px;
    }
    .main__subscribe__form-email-input {
        border: 2px solid #fff;
    }
    .main__subscribe__form-email-btn {
        max-width: 390px;
    }
    .main__subscribe__form-email-input:focus + .main__subscribe__form-email-btn, .main__subscribe__form-email-btn:hover {
        transform: none;
    }
}